.contactCardItem {
  width: 70vw;
  height: 15rem;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  left: 1.5vw;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  box-sizing: border-box;
  padding: 2rem;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  &:hover {
    border: 2px solid;
    transform: scale(1.01);
    background: rgba(255, 255, 255, 0.1);
  }
  margin: {
    top: 2rem;
  }
  font : {
    size: 3rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    font : {
      size: 7rem;
    }
  }
  color: #fff;
  font : {
    family: popins-regular;
    size: 4rem;
  }
}

@media screen and (min-width: 1px) and (max-width: 900px) {
  .contactCardItem {
    width: 95vw !important;
    right: 0 !important;
    left: 2.5vw !important;
  }
}
