.resumeContainer {
  width: calc(100vw - 6.6rem) !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease opacity;
  opacity: 0;
  scroll-behavior: smooth;
  position: relative;
  left: 4.4rem;
}
.resumeContainer .imageContainer {
  width: 24%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resumeContainer .imageContainer img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover !important;
}
.resumeContainer .left {
  width: 76%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
  font-size: 5rem;
}
.resumeContainer .left .title {
  width: 100%;
  color: rgba(204, 204, 204, 0.116);
  text-align: center;
  font-size: 10rem;
  font-family: "popins-bold";
  letter-spacing: 1ch;
}
.resumeContainer .left .experienceContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  left: 3%;
  font-family: popins-regular;
}
.resumeContainer .left .experienceContainer .containerName {
  height: 5vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .experienceContainer .containerName span {
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .educationContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  left: 3%;
  font-family: popins-regular;
}
.resumeContainer .left .educationContainer .containerName {
  height: 5vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .educationContainer .containerName span {
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .doneProjects {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: 3%;
  padding: 1rem;
  margin-top: 10vh;
  font-family: "popins-regular";
  font-family: popins-regular;
}
.resumeContainer .left .doneProjects .containerName {
  height: 5vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .doneProjects .containerName span {
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .doneProjects .helperContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2rem;
  color: #fff;
}
.resumeContainer .left .doneProjects .helperContent span {
  font-size: 2.2rem;
  font-weight: bold;
}
.resumeContainer .left .doneProjects .helperContent div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.resumeContainer .left .doneProjects .helperContent div span {
  font-size: 2.2rem;
  font-weight: bold;
}
.resumeContainer .left .selfSkills {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: 3%;
  padding: 1rem;
  margin-top: 10vh;
  font-family: "popins-regular";
}
.resumeContainer .left .selfSkills .containerName {
  height: 5vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .selfSkills .containerName span {
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .selfSkills .skillsProgressContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.resumeContainer .left .skills {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  left: 3%;
  padding: 1rem;
  margin-top: 10vh;
  font-family: "popins-regular";
}
.resumeContainer .left .skills .containerName {
  height: 5vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .skills .containerName span {
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
.resumeContainer .left .skills .skillsProgressContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .resumeContainer {
    width: 100vw !important;
    height: -moz-max-content;
    height: max-content;
    padding-top: 4rem;
    left: 0px !important;
    flex-direction: column;
  }
  .resumeContainer .imageContainer {
    position: relative;
    display: none;
    width: 0px;
  }
  .resumeContainer .left {
    width: 95vw !important;
    height: 100%;
    left: 0px !important;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border-radius: 1rem;
  }
  .resumeContainer .left .title {
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 2rem;
  }
  .resumeContainer .left .experienceContainer,
  .resumeContainer .left .educationContainer {
    padding: 0 !important;
    left: 0 !important;
    margin-top: 2vh !important;
  }
  .resumeContainer .left .experienceContainer .containerName,
  .resumeContainer .left .educationContainer .containerName {
    position: relative;
    left: 2.5rem;
    font-size: 2.5rem;
  }
  .resumeContainer .left .selfSkills,
  .resumeContainer .left .programmingSkillsContainer {
    margin-top: 2vh !important;
  }
  .resumeContainer .left .selfSkills .containerName,
  .resumeContainer .left .programmingSkillsContainer .containerName {
    font-size: 2rem;
  }
  .resumeContainer .left .selfSkills .containerName {
    font-size: 2rem;
  }
  .resumeContainer .left .selfSkills .containerName span {
    font-size: 2rem;
  }
}/*# sourceMappingURL=MyResume.module.css.map */