.resumeContainer {
  width: calc(100vw - 4.4rem) !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease opacity;
  opacity: 0;
  scroll-behavior: smooth;
  .imageContainer {
    width: 24%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .left {
    width: calc(100% - 24%);
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
    font : {
      size: 5rem;
    }
    .title {
      width: 100%;
      color: rgba(204, 204, 204, 0.116);
      text-align: center;
      font : {
        size: 10rem;
        family: "popins-bold";
      }

      letter-spacing: 1ch;
    }
    .experienceContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 1rem;
      position: relative;
      left: 3%;
      .containerName {
        height: 5vh;
        display: flex;
        align-items: center;
        color: #ffff;
        font : {
          size: 3rem;
          weight: bold;
        }
        span {
          margin: {
            right: 1rem;
          }
          font : {
            size: 3rem;
            weight: bold;
          }
        }
      }
      font : {
        family: popins-regular;
      }
    }
    .educationContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-sizing: border-box;
      padding: 1rem;
      position: relative;
      left: 3%;
      .containerName {
        height: 5vh;
        display: flex;
        align-items: center;
        color: #ffff;
        font : {
          size: 3rem;
          weight: bold;
        }
        span {
          margin: {
            right: 1rem;
          }
          font : {
            size: 3rem;
            weight: bold;
          }
        }
      }
      font : {
        family: popins-regular;
      }
    }
    .doneProjects {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      left: 3%;
      padding: 1rem;
      margin-top: 10vh;
      font : {
        family: "popins-regular";
      }
      .containerName {
        height: 5vh;
        display: flex;
        align-items: center;
        color: #ffff;
        font : {
          size: 3rem;
          weight: bold;
        }
        span {
          margin: {
            right: 1rem;
          }
          font : {
            size: 3rem;
            weight: bold;
          }
        }
      }
      font : {
        family: popins-regular;
      }
      .helperContent {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font : {
          size: 2rem;
        }
        color: #fff;
        span {
          font : {
            size: 2.2rem;
            weight: bold;
          }
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          font : {
            size: 2rem;
          }
          span {
            font : {
              size: 2.2rem;
              weight: bold;
            }
          }
        }
      }
    }
    .selfSkills {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      left: 3%;
      padding: 1rem;
      margin-top: 10vh;
      font : {
        family: "popins-regular";
      }
      .containerName {
        height: 5vh;
        display: flex;
        align-items: center;
        color: #ffff;
        font : {
          size: 3rem;
          weight: bold;
        }
        span {
          margin: {
            right: 1rem;
          }
          font : {
            size: 3rem;
            weight: bold;
          }
        }
      }
      .skillsProgressContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
    .skills {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      left: 3%;
      padding: 1rem;
      margin-top: 10vh;
      font : {
        family: "popins-regular";
      }
      .containerName {
        height: 5vh;
        display: flex;
        align-items: center;
        color: #ffff;
        font : {
          size: 3rem;
          weight: bold;
        }
        span {
          margin: {
            right: 1rem;
          }
          font : {
            size: 3rem;
            weight: bold;
          }
        }
      }
      .skillsProgressContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .resumeContainer {
    width: 100vw;
    height: 95vh;
    flex-direction: column;
    .imageContainer {
      position: relative;
      display: none;
    }
    .left {
      width: 100vw;
      height: 100%;

      .title {
        padding : {
          top: 2vh;
          bottom: 1vh;
        }
        font : {
          size: 2rem;
        }
      }
      .experienceContainer,
      .educationContainer {
        padding: 0 !important;
        left: 0 !important;
        margin: {
          top: 2vh !important;
        }
        .containerName {
          position: relative;
          left: 2.5vw;
        }
      }
      .selfSkills,
      .programmingSkillsContainer {
        margin : {
          top: 2vh !important;
        }
        .containerName {
          font : {
            size: 2rem;
          }
        }
      }
    }
  }
}
