.settingContainer {
  position: absolute;
  z-index: 10;
  width: max-content;
  height: max-content;
  right: 0.8rem;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  .settingIcon {
    position: absolute;
    left: 21vw;
    background-color: #fff;
    position: 50;
    border-radius: 50%;
    top: 1rem;
    transition: 0.5s ease all;
    box-sizing: border-box;
    padding: 0.5rem;
    animation: settingSpinner 2s backwards infinite;
    font : {
      size: 4rem;
    }
  }
  .contnets {
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: 1s ease opacity;
    border-radius: 1rem;
    padding-top: 2rem;
    span {
      font : {
        size: 2rem;
      }
    }
    .colorSwitcherContainer {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 1rem;
      margin-top: 2vh;
      .colorSwitcherItem {
        width: 28px;
        height: 28px;
        margin-left: 1.5rem;
        border-radius: 50%;
      }
    }
    input {
      width: 90%;
      height: 5vh;
      position: relative;
      z-index: 444;
      box-shadow: 0 6px 1rem rgba(0, 0, 0, 0.5);
      border-radius: 1rem;
      margin-top: 2rem;
      padding: 1rem;
      box-sizing: border-box;
      font : {
        size: 1.7rem;
      }
      &::placeholder {
        font : {
          size: 1.5rem;
          weight: bold;
        }
      }
    }
    .musicControls {
      width: 50%;
      height: max-content !important;
      display: flex;
      position: absolute;
      justify-content: space-between;
      bottom: 5%;
      transition: 0.1s ease all;
      svg {
        transition: 0.1s ease all;
        background-color: rgba(194, 194, 194, 0.4);
        border-radius: 1rem;
        font : {
          size: 2.6rem;
        }
      }
    }
  }
}

.settingContainer.open {
  svg {
    left: -5rem;
  }
  .contnets {
    left: 0;
    visibility: visible;
    opacity: 0.9;
  }
}
@keyframes settingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .settingContainer {
    width: 15vw;
    height: 40vh !important;
    top: 10%;
    position: fixed;
    left: 20vw;
    .settingIcon {
      width: 3rem;
      height: 3rem;
      left: 67vw;
      font : {
        size: 1rem;
      }
      svg {
        font : {
          size: 1rem;
        }
      }
    }
    .contnets {
      width: 100%;
      height: 50vh !important;
      visibility: hidden;
      opacity: 0;
      transition: 1s ease opacity;
      display: none;
      span {
        font : {
          size: 1.5rem;
        }
      }
      .colorSwitcherContainer {
        width: 100%;
      }
    }
  }
  .settingContainer.open {
    width: 60vw !important;
    right: 0;
    left: 40vw;
    .contnets {
      visibility: visible;
      opacity: 1;
      display: flex;
    }
  }
}
