.settingContainer {
  position: absolute;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
}
.settingContainer .settingIcon {
  position: absolute;
  left: -4.2rem;
  background-color: #fff;
  position: 50;
  border-radius: 50%;
  top: 1rem;
  left: calc(15vw - 5rem);
  transition: 0.5s ease all;
  box-sizing: border-box;
  padding: 0.5rem;
  -webkit-animation: settingSpinner 2s backwards infinite;
          animation: settingSpinner 2s backwards infinite;
  font-size: 4rem;
}
.settingContainer .contnets {
  width: 15vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: 1s ease opacity;
  border-radius: 1rem;
  padding-top: 2rem;
}
.settingContainer .contnets span {
  font-size: 2rem;
}
.settingContainer .contnets .colorSwitcherContainer {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  margin-top: 2vh;
}
.settingContainer .contnets .colorSwitcherContainer .colorSwitcherItem {
  width: 28px;
  height: 28px;
  margin-left: 1.5rem;
  border-radius: 50%;
}
.settingContainer .contnets input {
  width: 90%;
  height: 5vh;
  position: relative;
  z-index: 444;
  box-shadow: 0 6px 1rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.7rem;
}
.settingContainer .contnets input::-moz-placeholder {
  font-size: 1.5rem;
  font-weight: bold;
}
.settingContainer .contnets input:-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: bold;
}
.settingContainer .contnets input::placeholder {
  font-size: 1.5rem;
  font-weight: bold;
}
.settingContainer .contnets .musicControls {
  width: 50%;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 5%;
  transition: 0.1s ease all;
}
.settingContainer .contnets .musicControls svg {
  transition: 0.1s ease all;
  background-color: rgba(194, 194, 194, 0.4);
  border-radius: 1rem;
  font-size: 2.6rem;
}

.settingContainer.open svg {
  left: -5rem;
}
.settingContainer.open .contnets {
  left: 0;
  visibility: visible;
  opacity: 0.9;
}

@-webkit-keyframes settingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes settingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .settingContainer {
    width: 15vw;
    height: 50vh !important;
    top: 10%;
    position: fixed;
  }
  .settingContainer .settingIcon {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  .settingContainer .settingIcon svg {
    font-size: 1rem;
  }
  .settingContainer .contnets {
    width: 100%;
    height: 50vh !important;
    visibility: hidden;
    opacity: 0;
    transition: 1s ease opacity;
    display: none;
  }
  .settingContainer .contnets span {
    font-size: 1.5rem;
  }
  .settingContainer .contnets .colorSwitcherContainer {
    width: 100%;
  }
  .settingContainer.open {
    width: 60vw !important;
    right: 0;
    left: 40vw;
  }
  .settingContainer.open .contnets {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
}/*# sourceMappingURL=Setting.module.css.map */