.cardForSkills {
  width: 40%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  p {
    font : {
      size: 2.3rem;
    }
    span {
      color: #fff;
      font : {
        size: 2.3rem;
      }
    }
    margin-bottom: 0.5vh;
  }
  progress {
    width: 100%;
    height: 30%;
    display: block;
    border-radius: 2rem;
  }

  progress::-moz-progress-bar {
    background: linear-gradient(
      90deg,
      #ffd33dc7,
      #ea4aaac7 17%,
      #b34bffc7 34%,
      #01feffc7 51%,
      #ffd33dc7 68%
    );
    background-size: 300% 100%;
    animation: progress-animation 2.5s ease-in-out infinite alternate forwards;
    -webkit-animation: progress-animation 2.5s ease-in-out infinite;
  }
}

@keyframes progress-animation {
  from {
    background-position: 0;
    border-radius: 2rem;
  }
  to {
    background-position: -300%;
    border-radius: 2rem;
  }
}
