.asideContainer {
  width: 4.4rem;
  height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  .top {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 100%;
      height: 5.8rem;
      color: #ffff;
      display: flex;
      align-items: center;
      justify-content: center;
      font : {
        size: 4rem;
        family: "main-font-bold";
      }
    }
    .helperLinks {
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      a {
        width: 100%;
        height: 3.2rem;
        box-sizing: border-box;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 20px;
        position: relative;
        z-index: 1;
        margin-top: 1rem;
        svg {
          width: 100%;
          height: 100%;
          box-sizing: border-box;

          font : {
            size: 2.5rem;
          }
          color: #fff;

          position: relative;
          z-index: 0;
        }
      }
    }
  }
  .bottomLinks {
    width: 100%;
    height: 20%;
    .helperLinks {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      a {
        width: 100%;
        height: 3rem;
        box-sizing: border-box;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        size: 20px;
        position: relative;
        z-index: 0;
        svg {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          font : {
            size: 2.5rem;
          }
          color: #fff;

          position: relative;
          z-index: 2;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .asideContainer {
    width: 100vw;
    height: 5vh;
    flex-direction: row;
    .top {
      height: 100%;
      flex-direction: row;
      .logo {
        width: 15%;
        height: 100%;
        .hamburgerMenuContainer {
          font : {
            size: 3rem;
          }
        }
        font : {
          size: 2.5rem;
        }
        position: relative;
      }
      .helperLinks {
        position: absolute;
        width: 100vw;
        height: 1vh;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease all;
        top: -10vh;
      }
      .helperLinks.open {
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        position: absolute;
        top: 4.5vh;
        background-color: #181818;
        z-index: 40;
        visibility: visible;
        opacity: 1;
      }
    }
    .bottomLinks {
      .helperLinks {
        flex-direction: row;
      }
    }
  }
}
