.asideContainer {
  width: 4.4rem;
  height: 100vh;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.asideContainer .top {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideContainer .top .logo {
  width: 100%;
  height: 5.8rem;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  font-family: "main-font-bold";
}

.asideContainer .top .helperLinks {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideContainer .top .helperLinks a {
  width: 100%;
  height: 3.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  size: 20px;
  position: relative;
  z-index: 1;
  margin-top: 1rem;
}

.asideContainer .top .helperLinks a svg {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  z-index: 0;
}

.asideContainer .bottomLinks {
  width: 100%;
  height: 30%;
}

.asideContainer .bottomLinks .helperLinks {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideContainer .bottomLinks .helperLinks a {
  width: 100%;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  size: 20px;
  position: relative;
  z-index: 0;
}

.asideContainer .bottomLinks .helperLinks a svg {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.5rem;
  color: #fff;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .asideContainer {
    width: 100vw;
    height: 5vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .asideContainer .top {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .asideContainer .top .logo {
    width: 15%;
    height: 100%;
    font-size: 2.5rem;
    position: relative;
  }
  .asideContainer .top .logo .hamburgerMenuContainer {
    font-size: 3rem;
  }
  .asideContainer .top .helperLinks {
    position: absolute;
    width: 100vw;
    height: 1vh;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    top: -10vh;
  }
  .asideContainer .top .helperLinks.open {
    width: 100vw;
    height: 10vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 4.5vh;
    background-color: #181818;
    z-index: 40;
    visibility: visible;
    opacity: 1;
  }
  .asideContainer .bottomLinks .helperLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=Sidebar.module.css.map */