.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background : {
    image: url("../../../Images/main-bg.jpg");
    size: cover;
    position: center;
    repeat: "no-repeat";
  }
  p {
    width: 100%;
    height: max-content;
    color: #fff;
    padding: {
      top: 3vw;
      bottom: 3vw;
    }
    text-align: center;
    font : {
      size: 3vw;
    }
    background-color: rgba(0, 0, 0, 0.663);
  }
  img {
    width: 50%;
    height: 30%;
    background: rgba(255, 255, 255, 0.411);
    border-radius: 2rem;
    animation: sssssf 1s ease 0s infinite alternate linear forwards;
    --webkit-animation-name: sssssf;
    --webkit-animation-direction: 1s;
    --webkit-animation-timing-function: ease-in-out;
    --webkit-animation-delay: 0;
    --webkit-animation-iteration-count: infinite;
    --webkit-animation-fill-mode: forwards;
    position: relative;
  }

  .itemsContainer {
    width: 30%;
    height: 5vh;
    display: flex;

    align-items: center;
    justify-content: space-between;
    a,
    button {
      width: 10vw;
      border: 2px solid #63f;
      border-radius: 2vw;
      transition: all 1s ease;
      margin-top: 4rem;
      color: #ffff;
      background-color: red;
      &:hover {
        border-color: transparent;
        background-color: #0af;
      }
      font : {
        size: 1.5vw;
      }
      text-align: center;
    }
    button {
    }
  }
}

@media screen and (max-width: 1200px) {
  .notFound {
    box-sizing: border-box;
    padding: 1rem;
    p {
      font : {
        size: 2.3rem;
        family: popins-regular;
      }
      margin-bottom: 3vh;
    }

    img {
      width: 100%;
      height: 15%;
    }
    .itemsContainer {
      width: max-content;
      a,
      button {
        width: 40vw;
        height: 5rem;
        font : {
          size: 2.2rem;
          family: popins-regular;
        }
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes sssssf {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
