@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main-font-regular;
  src: url("./Fonts/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: main-font-bold;
  src: url("./Fonts/CormorantGaramond-Bold.ttf");
}
@font-face {
  font-family: popins-regular;
  src: url("./Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: popins-bold;
  src: url("./Fonts/Poppins-Bold.otf");
}
html {
  scroll-behavior: smooth !important;
}
html:focus-within {
  scroll-behavior: smooth !important;
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font : {
    size: 62.5%;
  }
  scroll-behavior: smooth !important;
}

body {
  a {
    text : {
      decoration: none;
    }
  }
  #root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(335deg, #a419ac, #c850c0, #ffcc70);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
  }
}
span,
p,
div {
  transition: 0.4s ease color;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 76%;
  }
  100% {
    background-position: 0% 25%;
  }
}

@media screen and (max-width: 900px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
