@font-face {
  font-family: main-font-regular;
  src: url("./Fonts/CormorantGaramond-Regular.ttf");
}
@font-face {
  font-family: main-font-bold;
  src: url("./Fonts/CormorantGaramond-Bold.ttf");
}
@font-face {
  font-family: popins-regular;
  src: url("./Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: popins-bold;
  src: url("./Fonts/Poppins-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font : {
    size: 62.5%;
  }
}

body {
  a {
    text : {
      decoration: none;
    }
  }
  #root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  span,
  p,
  div {
    transition: 0.4s ease color;
  }
}
