.card {
  width: 80vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.853);
  border-radius: 1rem;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 0.2s ease all !important;
  padding : {
    left: 3vw;
    right: 3vw;
  }
  img {
    width: 10%;
    height: 80%;
  }
  &:hover {
    height: 16vh;
    transform: scale(1.05);
  }
  .contentShower {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    p {
      font : {
        size: 3.5rem;
        family: popins-regular;
        weight: bold;
      }
    }
  }
}
