.aboutMePageCntainer {
  width: calc(100vw - 4.4rem) !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s ease opacity;
  opacity: 0;
  .imageContainer {
    width: 24%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .advantagesContainer {
    width: calc(100% + 4.4rem - 24%);
    height: 100%;
    overflow-y: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
    font : {
      size: 5rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 3rem;
    .title {
      width: 100%;
      color: rgba(204, 204, 204, 0.116);
      text-align: center;
      font : {
        size: 10rem;
        family: "popins-bold";
      }

      letter-spacing: 1ch;
    }
    .aboutMe {
      width: 90%;
      text-align: justify;
      font : {
        family: popins-regular;
      }
      color: #ccc;
      span {
        font : {
          family: popins-bold;
          size: 3rem;
        }
      }
      font : {
        size: 3rem;
      }
    }
    .myServices {
      width: 90%;
      margin-top: 3vh;
      div {
        font : {
          size: 8rem;
        }
      }
      p.myServicesLOGO {
        font : {
          size: 4rem;
          family: popins-regular;
        }
        span {
          font : {
            size: 4rem;
          }
        }
      }
    }
  }

  font {
    size: 2rem;
  }
}
