.mySystemContainer {
  width: 98%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font : {
    size: 2rem;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    .darking {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -2;
    }
    img {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -3;
    }
  }
  h1 {
    width: 100%;
    height: 10vh;
    position: relative;
    z-index: 1;
    font : {
      size: 5rem;
      family: popins-regular;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .systemContainer {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .mySystemContainer {
    width: 100vw;
    height: 95vh !important;
    h1 {
      font : {
        size: 3.5rem;
      }
    }
    .systemContainer {
      width: 100%;
      height: 100%;
    }
  }
}
